@media (min-width:500px){

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 400;
    font-size: small;
    margin:0rem;
    background-image:url(images/clouds.jpg);
    background-size:cover;
}

.indent{margin:3rem;}

.block{background-color: white;
background-size: 100%;}

header{
    background-color: #fcffc3;
    display: flex;
    align-items: center;
    justify-content: left;
}

header>img{
    width:5rem;
    max-width: 100%;
    padding-right: 1rem;
}

nav>a:hover{
    color: rgb(223, 164, 0);
}
header{
    display: flex;
    padding:1rem
}

nav{
display: flex;
gap: 1rem;
align-items: center;
}

h2, h3{color: rgb(2, 2, 66);
padding-top: 1rem;}

h3{padding-left: 1rem;}

.content{padding-left: 1.5rem;
padding-right: 1.5rem;
padding-bottom: 1rem;
padding-top: 1rem;}

.links{justify-content: space-around;
display: flex;
margin-bottom: 2rem;
margin-top: 2rem;
}

.links>a:hover{
    color: rgb(223, 164, 0);

.link1, .link2{background-color: white;
padding:1rem;}

.yellow{background-color: #fcffc3;
color:#fcffc3;
font-size: large;}

.pics{
display: grid;
justify-items: center;
row-gap: 2rem;}

.pics img{width: 200px;
height: auto;}

footer{background-color: #fcffc3;
display:flex;
flex-direction: row;
justify-content: space-around;
}
}

@media (min-width:800px){
.link1, .link2{background-color: white;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 6rem;
padding-right: 6rem;}

#gallery{margin-left:1rem}

.pics{
display: flex;
flex-wrap: wrap;
row-gap: 2rem;
justify-content: space-around;}

.pics img{width: 200px;
height: auto;}
}

@media (min-width:1300px){
footer{background-color: #fcffc3;
display:flex;
flex-direction: row;
justify-content: center;
gap: 1rem;
}


.link1, .link2{background-color: white;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 14rem;
padding-right: 14rem;}


.bigindent{margin-left:15rem;
margin-right:15rem}

#about-me{margin-left:15rem}

#gallery{margin-left:3rem}

.pics{
display: flex;
flex-wrap: wrap;
justify-content: space-around;}

.pics img{width: 175px;
height: auto;}

}